:root {
  font-size: 12px;
}

.about {
  padding: 1rem;
  height: auto;
  display: block;
}

.about .body {
  grid-template-columns: 1fr;
}

.container {
  padding: 0rem;
}

.display {
  flex-direction: column;
  padding: 5rem 1rem !important;
}

.display .brand {
  margin-bottom: 2rem;
}

.imgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.imgs img {
  width: 100% !important;
}

.imgs img + img {
  margin-top: 1rem;
}

.info {
  font-size: 1rem !important;
}

#needless .logo {
  margin-bottom: 2rem !important;
  display: flex;
  justify-content: center;
}

.container > .title {
  text-align: center;
}

#optics .brand {
  margin-bottom: 0rem;
}

#optics {
  padding: 0rem !important;
}

.imgs {
  margin-left: 0px !important;
}

#optics .info {
  /* background-color: transparent; */
  /* text-align: right; */
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(30, 30, 30, 0.9);
  float: right;
  width: 100%;
  /* visibility: hidden; */
  /* text-shadow: 0px 0px 5px 5px black; */
}

#optics .brand {
  padding: 3rem 1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#needless .logo img {
  width: 100% !important;
  padding: 0rem;
  margin: 0px !important;
}

#designs .card {
  flex-direction: column;
  height: auto;
  padding: 3rem 1rem;
}

#designs .dispimg {
  margin-top: 2rem;
  margin-left: 0rem;
}

#designs .card + .card {
  margin-left: 0rem;
  margin-top: 1rem;
}

#evolution .brand + .imgs {
  margin-left: 0rem;
}

.splash {
  padding: 0rem !important;
}

#cover {
  flex-direction: column;
  /* height: auto; */
  margin-bottom: 10rem;
  height: 80vh;
}

#cover .brand {
  height: auto;
}

#cover .brand h1 {
  font-size: 5rem;
}

#cover #signature {
  padding: 1rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  width: 300px;
  /* display: block; */
  /* height: auto; */
  /* width: 80vw; */
}

#skills {
  flex-direction: column;
}

#skills .brand {
  margin-bottom: 3rem;
}

nav.main {
  background: #111;
  padding: 1rem 0rem;
  justify-content: center;
  position: sticky;
}

#cover .brand {
  min-width: unset;
}

nav.main.scrolled ul,
nav.main ul {
  width: auto;
  font-size: 1.25rem;
}

nav.main li a {
  padding: 0.5rem 2rem;
  text-align: center;
  width: auto;
  font-weight: normal;
}

nav.main li:hover a {
  font-weight: normal;
}

#watchtoday {
  background: linear-gradient(0deg,#8900bf 30%,#a101d1 54.11%,#005dd6 99.44%);
}
#prayerjournal {
  background: linear-gradient(180deg,#007be0 30%,#6f00ff 70.11%);
  margin-bottom: 0rem;
}

#prayerjournal .brand {
  /* padding-right: 2rem; */
  margin-top: 3rem;
}
#prayerjournal .imgs {
  /* position: absolute; */
  margin-right: 2rem;
  left: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row;
  /* flex-direction: column; */
  /* margin-left: 1rem; */
}
#prayerjournal .imgs img {
  /* position: absolute; */
  left: 0px;
  width: 150px !important;
  /* height: 150px; */
  /* border: 3px solid black; */
  margin: 0px;
  /* box-shadow: 0px 0px 5px 3px rgba(193, 118, 255, 1); */
  border-radius: 0.75rem;
}
#prayerjournal img + img {
  margin-left: 1rem !important;
}
