nav.main {
  --hover-bg: #fff;
  --hover-color: black;
  --select-color: white;
  --select-bg: var(--primary-color);
  --group-width: 200px;
  --padding: 0.5rem 1rem;
  --group-delay: 0.3s;
  position: fixed;
  padding: 0.5rem;
  top: 0%;
  font-weight: 200;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  transition-duration: 300ms;
}

nav.main ul {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  transition-duration: 300ms;
}

nav.main.scrolled {
  background: #111;
  /* position: sticky; */
}

nav.main.scrolled ul {
  width: 466px;
}

nav.main li {
  display: flex;
  flex-direction: column;
  padding: 0rem;
}

nav.main li a {
  color: var(--color);
  padding: 0.5rem 0rem;
  transition-duration: 100ms;
  text-align: center;
  border-radius: 100rem;
  width: 150px;
  opacity: 0.8;
}

nav.main li:hover a {
  /* background-color: var(--hover-bg);
    color: var(--hover-color); */
  opacity: 1;
  font-weight: 400;
}

nav.main li.selected a,
nav.main li.selected:hover a {
  background: -moz-linear-gradient(
    0% 50% 0deg,
    rgba(0, 191, 255, 1) 0%,
    rgba(132, 127, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 191, 255, 1) 0%,
    rgba(132, 127, 255, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(0, rgba(0, 191, 255, 1)),
    color-stop(1, rgba(132, 127, 255, 1))
  );
  background: -o-linear-gradient(
    0deg,
    rgba(0, 191, 255, 1) 0%,
    rgba(132, 127, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(0, 191, 255, 1) 0%,
    rgba(132, 127, 255, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BFFF', endColorstr='#847FFF' ,GradientType=0)";
  background: linear-gradient(
    90deg,
    rgba(0, 191, 255, 1) 0%,
    rgba(132, 127, 255, 1) 100%
  );
  border-radius: 21px;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BFFF', endColorstr='#847FFF', GradientType=1);
  color: var(--select-color);
  font-weight: initial;
  opacity: 1;
}
